<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nway.platform.wform.access.dao.FormPageMapper">
	
	<select id="getFormPage" parameterType="string" resultMap="getFormPageMap">
		SELECT 
		  A.PAGE_ID ,
		  A.PAGE_NAME ,
		  A.PAGE_TITLE,
		  A.PAGE_TYPE,
		  A.IS_MANUAL,
		  A.TABLE_NAME,
		  A.SUMMARY,
		  A.MODULE_ID,
		  B.MODULE_NAME
		FROM
		    T_FORM_PAGE A LEFT JOIN T_FORM_MODULE B
		    ON A.MODULE_ID = B.MODULE_ID
		WHERE A.PAGE_ID = #{pageId}
	</select>
	
	<resultMap type="com.nway.platform.wform.design.entity.FormPage" id="getFormPageMap">
		<result column="PAGE_ID" property="id"/>
		<result column="PAGE_NAME" property="name"/>
		<result column="PAGE_TITLE" property="title"/>
		<result column="PAGE_TYPE" property="type"/>
		<result column="IS_MANUAL" property="isMunual"/>
		<result column="TABLE_NAME" property="tableName"/>
		<result column="MODULE_ID" property="moduleId"/>
		<result column="MODULE_NAME" property="moduleName"/>
		<result column="SUMMARY" property="summary"/>
		<collection property="formFields" column="page_id" ofType="com.nway.platform.wform.design.entity.PageFieldForm" select="queryPageFormFields"/>
		<collection property="listFields" column="page_id" ofType="com.nway.platform.wform.design.entity.PageFieldList" select="queryPageListFields"/>
	</resultMap>
	
	<select id="queryPageFormFields" resultMap="queryPageFormFieldsMap">
		select 
			  A.FIELD_ID,
			  B.NAME,
			  B.DISPLAY,
			  B.TYPE,
			  B.SIZE,
			  A.ROW_NUM,
			  A.COLUMN_NUM,
			  A.COLUMN_SPAN,
			  A.EDITABLE,
			  A.FOR_WORKITEM
		FROM T_FORM_PAGE_FIELD_FORM A 
        LEFT JOIN
	    T_FORM_FIELD B ON A.FIELD_ID = B.FIELD_ID
	    where page_id = #{id}
	</select>
	
	<resultMap type="com.nway.platform.wform.design.entity.PageFieldForm" id="queryPageFormFieldsMap">
		<result column="FIELD_ID" property="fieldId"/>
		<result column="NAME" property="name"/>
		<result column="DISPLAY" property="display"/>
		<result column="TYPE" property="type"/>
		<result column="ROW_NUM" property="rowNum"/>
		<result column="COLUMN_NUM" property="colNum"/>
		<result column="COLUMN_SPAN" property="colSpan"/>
		<result column="EDITABLE" property="editable"/>
		<result column="FOR_WORKITEM" property="forWorkItem"/>
	</resultMap>
	
	<select id="queryPageListFields" resultMap="queryPageListFieldsMap">
		select 
			  A.FIELD_ID,
			  B.NAME,
			  B.DISPLAY,
			  B.TYPE,
			  A.ROW_NUM ,
			  A.COLUMN_NUM,
			  A.COLUMN_SPAN,
			  A.IS_LINK,
			  A.IS_CONDITION
		FROM T_FORM_PAGE_FIELD_LIST A 
        LEFT JOIN
	    T_FORM_FIELD B ON A.FIELD_ID = B.FIELD_ID
	    where page_id = #{id}
	</select>
	
	<resultMap type="com.nway.platform.wform.design.entity.PageFieldList" id="queryPageListFieldsMap">
		<result column="FIELD_ID" property="fieldId"/>
		<result column="NAME" property="name"/>
		<result column="DISPLAY" property="display"/>
		<result column="TYPE" property="type"/>
		<result column="ROW_NUM" property="rowNum"/>
		<result column="COLUMN_NUM" property="colNum"/>
		<result column="COLUMN_SPAN" property="colSpan"/>
		<result column="IS_LINK" property="isLink"/>
		<result column="IS_CONDITION" property="isCondition"/>
	</resultMap>
	
	<select id="listFieldAttr" resultMap="fieldAttrMap">
		select FIELD_NAME,ATTR_NAME,ATTR_VALUE from T_FORM_FIELD_ATTRIBUTE where PAGE_ID = #{pageId}
	</select>
	
	<resultMap type="map" id="fieldAttrMap">
		<result column="FIELD_NAME" property="fieldName"/>
		<result column="ATTR_NAME" property="attrName"/>
		<result column="ATTR_VALUE" property="attrValue"/>
	</resultMap>
	
	<select id="listFormPage" parameterType="string" resultType="com.nway.platform.wform.design.entity.FormPage">
		select 
			id,
		    name,
		    page_type,
		    summary,
		    create_time,
		    status,
		    module_id
		from t_form_page
	</select>
	
	<resultMap id="formPageMap" type="com.nway.platform.wform.design.entity.FormPage">
		<result column="FORM_ID" property="id"/>
		<result column="FORM_NAME" property="name"/>
		<result column="page_type" property="pageType"/>
		<result column="summary" property="summary"/>
		<result column="create_time" property="createTime"/>
		<result column="status" property="status"/>
		<result column="module_id" property="modulId"/>
	</resultMap>
	
</mapper>