<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nway.platform.wform.access.dao.FormPageMapper">
	
	<select id="getFormPage" parameterType="string" resultMap="getFormPageMap">
		SELECT 
		  A.PAGE_ID ,
		  A.PAGE_NAME ,
		  A.PAGE_TITLE,
		  A.PAGE_TYPE,
		  A.IS_MANUAL,
		  A.TABLE_NAME,
		  A.SUMMARY,
		  A.MODULE_ID,
		  B.MODULE_NAME,
		  C.FIELD_ID PAGE_FIELD_FIELD_ID,
		  D.NAME PAGE_FIELD_FIELD_NAME,
		  D.DISPLAY PAGE_FIELD_DISPLAY,
		  D.TYPE PAGE_FIELD_TYPE,
		  D.SIZE PAGE_FIELD_SIZE,
		  C.ROW_NUM PAGE_FIELD_ROW_NUM,
		  C.COLUMN_NUM PAGE_FIELD_COLUMN_NUM,
		  C.COLUMN_SPAN PAGE_FIELD_COLUMN_SPAN,
		  C.EDITABLE PAGE_FIELD_EDITABLE,
		  C.IS_CONDITION PAGE_FIELD_IS_CONDITION
		FROM
		    T_FORM_PAGE A
	        LEFT JOIN
		    T_FORM_MODULE B on A.MODULE_ID = B.MODULE_ID
		    LEFT JOIN
		    T_FORM_PAGE_FIELD C ON A.PAGE_ID = C.PAGE_ID
	        LEFT JOIN
		    T_FORM_FIELD D ON C.FIELD_ID = D.FIELD_ID
		WHERE A.PAGE_ID = #{pageId}
	</select>
	
	<resultMap type="com.nway.platform.wform.design.entity.FormPage" id="getFormPageMap">
		<result column="PAGE_ID" property="id"/>
		<result column="PAGE_NAME" property="name"/>
		<result column="PAGE_TITLE" property="title"/>
		<result column="PAGE_TYPE" property="type"/>
		<result column="IS_MANUAL" property="isMunual"/>
		<result column="TABLE_NAME" property="tableName"/>
		<result column="MODULE_ID" property="moduleId"/>
		<result column="MODULE_NAME" property="moduleName"/>
		<result column="SUMMARY" property="summary"/>
		<collection property="fielsGroups" ofType="com.nway.platform.wform.design.entity.PageField">
			<result column="FIELD_ID" property="fieldId"/>
			<result column="FIELD_NAME" property="name"/>
			<result column="DISPLAY" property="display"/>
			<result column="TYPE" property="type"/>
			<result column="SIZE" property="size"/>
			<result column="ROW_NUM" property="rowNum"/>
			<result column="COLUMN_NUM" property="columnNum"/>
			<result column="COLUMN_SPAN" property="columnSpan"/>
			<result column="EDITABLE" property="editable"/>
			<result column="IS_CONDITION" property="isCondition"/>
		</collection>
	</resultMap>
	
	<select id="listFieldAttr" resultMap="fieldAttrMap">
		select FIELD_NAME,ATTR_NAME,ATTR_VALUE from T_FORM_FIELD_ATTRIBUTE where PAGE_ID = #{pageId}
	</select>
	
	<resultMap type="map" id="fieldAttrMap">
		<result column="FIELD_NAME" property="fieldName"/>
		<result column="ATTR_NAME" property="attrName"/>
		<result column="ATTR_VALUE" property="attrValue"/>
	</resultMap>
	
	<select id="listFormPage" parameterType="string" resultType="com.nway.platform.wform.design.entity.FormPage">
		select 
			id,
		    name,
		    page_type,
		    summary,
		    create_time,
		    status,
		    module_id
		from t_form_page
	</select>
	
	<resultMap id="formPageMap" type="com.nway.platform.wform.design.entity.FormPage">
		<result column="FORM_ID" property="id"/>
		<result column="FORM_NAME" property="name"/>
		<result column="page_type" property="pageType"/>
		<result column="summary" property="summary"/>
		<result column="create_time" property="createTime"/>
		<result column="status" property="status"/>
		<result column="module_id" property="modulId"/>
	</resultMap>
	
</mapper>