<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nway.wform.entity.FormMapper">

	<select id="selectForm" resultMap="formMap">
		SELECT
		f.id form_id,
		f.version form_version,
		f. NAME form_name,
		f.title form_title,
		fc.id cmp_id,
		fc. NAME cmp_name,
		fc.render_type cmp_render_type,
		fc.`type` cmp_type,
		fc.display cmp_display,
		fce.is_editable cmp_is_editable,
		fce.`row` cmp_row,
		fce.column_span cmp_column_span
		FROM
		t_form f
		LEFT JOIN t_form_component fc ON f.id = fc.form_id
		LEFT JOIN t_form_form fce ON fce.cmp_id = fc.id
		WHERE
		f.id = #{formId} and version = #{version}
		order by fce.row ,fce.column
	</select>

	<resultMap id="formMap" type="com.nway.wform.entity.FormEntity">
		<id property="id" column="form_id" />
		<result property="name" column="form_name" />
		<result property="title" column="form_title" />
		<result property="tableName" column="form_table_Name" />
		<collection property="components"
			ofType="com.nway.wform.entity.ComponentEntity">
			<id property="id" column="cmp_id" />
			<result property="display" column="cmp_display" />
			<result property="name" column="cmp_name" />
			<result property="formId" column="form_id" />
			<result property="tableName" column="cmp_table_Name" />
			<result property="type" column="cmp_type" />
			<result property="renderType" column="cmp_render_type" />
			<result property="isEditable" column="cmp_is_editable" />
			<result property="rowNum" column="cmp_row" />
			<result property="colSpan" column="cmp_column_span" />
		</collection>
	</resultMap>

	<select id="select_firstForm" resultMap="resultMap_firstForm">
		SELECT
		ff.id,
		ff.mc,
		ff.lx,
		ff1.VALUE lx_value
		FROM
		t_fixed_form ff
		LEFT JOIN
		t_fixed_form_10002 ff1 ON ff.lx = ff1.b_id
		WHERE
		ff.id = #{id}
	</select>

	<resultMap id="resultMap_firstForm" type="hashmap">
		<id property="id" column="id" />
		<result property="mc" column="mc" />
		<result property="my" column="my" />
		<collection property="lx" javaType="ArrayList" ofType="Object">
			<result column="lx_value" />
		</collection>
	</resultMap>
	
	<insert id="insert_firstForm">
		insert into t_fixed_form (id,mc,lx) values (#{id},#{mc},#{lx})
	</insert>
	
	<insert id="insert_firstForm_lx">
		insert into t_fixed_form_10002 (id,b_id,value) values 
		<foreach collection="list" item="item" index="index" separator="," >  
	        (#{item.id},#{item.bid},#{item.value})  
	    </foreach>  
	</insert>
</mapper>